// 背景顏色
.bg-primary {
  background: $c-primary;
}
.bg-secondary {
  background: $c-secondary;
}
.bg-darkRed {
  background: $dark-red;
}
// 文字顏色
.c-darkRed {
  color: $dark-red;
}
.c-primary {
  color: $c-primary;
}
.c-darkGray {
  color: $dark-gray;
}
.c-black {
  color: #000;
}
.c-white {
  color: #fff;
}
.c-gray {
  color: #495057;
}
.c-light-gray {
  color: $light-gray;
}
