// container
.container {
  max-width: 1320px;
  padding-left: 12px;
  padding-right: 12px;
  margin: 0 auto;
  //991.98px以下
  @include pad {
    max-width: 1063px;
    padding-left: 36px;
    padding-right: 36px;
  }
  //767.98px以下
  @include mobile {
    max-width: 791px;
    padding-left: 14px;
    padding-right: 14px;
  }
}
//flexbox
.d-flex {
  display: flex;
}
.flex-grow {
  flex-grow: 1;
}
.f-jcsb {
  justify-content: space-between;
}
.f-jcc {
  justify-content: center;
}
.f-jcfs {
  justify-content: flex-start;
}
.fxw-w {
  flex-wrap: wrap;
}
.fxd-c {
  flex-direction: column;
}
.f-aic {
  align-items: center;
}
.f-aife {
  align-items: flex-end;
}
.f-aifs {
  align-items: flex-start;
}

.ta-c {
  text-align: center;
}

// 間距
// padding
.pt-16 {
  padding-top: 16px;
}
.px-12 {
  padding-left: 12px;
  padding-right: 12px;
}
.py-80 {
  padding-top: 80px;
  padding-bottom: 80px;
}

// margin
// mx(left+right)
.mx--12 {
  margin-left: -12px;
  margin-right: -12px;
}
.mx-12 {
  margin-left: 12px;
  margin-right: 12px;
}
// my(top+bottom)
// mt
.mt-24 {
  margin-top: 24px;
}
.mt-80 {
  margin-top: 80px;
}
// mb
.mb-8 {
  margin-bottom: 8px;
}
.mb-16 {
  margin-bottom: 16px;
}
.mb-24 {
  margin-bottom: 24px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mb-32 {
  margin-bottom: 32px;
}
.mb-33 {
  margin-bottom: 33px;
}
.mb-40 {
  margin-bottom: 40px;
}
.mb-41 {
  margin-bottom: 41px;
}
.mb-48 {
  margin-bottom: 48px;
}
.mb-60 {
  margin-bottom: 60px;
}
.mb-80 {
  margin-bottom: 80px;
}

// mr
.mr-11 {
  margin-right: 11px;
}
.mr-16 {
  margin-right: 16px;
}
// ml

@include pad {
  .mt-md-8 {
    margin-top: 8px;
  }

  .mb-md-0 {
    margin-bottom: 0;
  }
  .mb-mb-8 {
    margin-bottom: 8px;
  }
  .mb-md-16 {
    margin-bottom: 16px;
  }
  .mb-md-24 {
    margin-bottom: 24px;
  }
  .mb-md-40 {
    margin-bottom: 40px;
  }
}
@include mobile {
  .mt-sm-16 {
    margin-top: 16px;
  }
  .mt-sm-64 {
    margin-top: 64px;
  }
  .mb-sm-8 {
    margin-bottom: 8px;
  }
  .mb-sm-16 {
    margin-bottom: 16px;
  }
  .mb-sm-24 {
    margin-bottom: 24px;
  }
  .mb-sm-24 {
    margin-bottom: 24px;
  }
  .mb-sm-31 {
    margin-bottom: 31px;
  }
  .mb-sm-64 {
    margin-bottom: 64px;
  }
  .py-sm-40 {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

// col
.col-1 {
  width: $col-1 * 1;
}
.col-2 {
  width: $col-1 * 2;
}
.col-3 {
  width: $col-1 * 3;
}
.col-4 {
  width: $col-1 * 4;
}
.col-5 {
  width: $col-1 * 5;
}
.col-6 {
  width: $col-1 * 6;
}
.col-7 {
  width: $col-1 * 7;
}
.col-8 {
  width: $col-1 * 8;
}
.col-9 {
  width: $col-1 * 9;
}
.col-10 {
  width: $col-1 * 10;
}
.col-11 {
  width: $col-1 * 11;
}
.col-12 {
  width: $col-1 * 12;
}

// 992以下平板md-col
@include pad {
  .col-md-1 {
    width: $col-1 * 1;
  }
  .col-md-2 {
    width: $col-1 * 2;
  }
  .col-md-3 {
    width: $col-1 * 3;
  }
  .col-md-4 {
    width: $col-1 * 4;
  }
  .col-md-5 {
    width: $col-1 * 5;
  }
  .col-md-6 {
    width: $col-1 * 6;
  }
  .col-md-7 {
    width: $col-1 * 7;
  }
  .col-md-8 {
    width: $col-1 * 8;
  }
  .col-md-9 {
    width: $col-1 * 9;
  }
  .col-md-10 {
    width: $col-1 * 10;
  }
  .col-md-11 {
    width: $col-1 * 11;
  }
  .col-md-12 {
    width: $col-1 * 12;
  }
}

//767以下手機sm-col
@include mobile {
  .col-sm1 {
    width: $col-1 * 1;
  }
  .col-sm-2 {
    width: $col-1 * 2;
  }
  .col-sm-3 {
    width: $col-1 * 3;
  }
  .col-sm-4 {
    width: $col-1 * 4;
  }
  .col-sm-5 {
    width: $col-1 * 5;
  }
  .col-sm-6 {
    width: $col-1 * 6;
  }
  .col-sm-7 {
    width: $col-1 * 7;
  }
  .col-sm-8 {
    width: $col-1 * 8;
  }
  .col-sm-9 {
    width: $col-1 * 9;
  }
  .col-sm-10 {
    width: $col-1 * 10;
  }
  .col-sm-11 {
    width: $col-1 * 11;
  }
  .col-sm-12 {
    width: $col-1 * 12;
  }
}
