$c-primary: #aa0601; //主要色header,footer背景
$c-secondary: #fbf2f2; //粉色背景
$dark-red: #650300; //加強色：目錄、副標
$dark-gray: #212529; //內文文字
$c-deco: #9f1213; //裝飾線顏色
$light-gray: #555555; //部落格內文顏色
$col-1: 8.33%;
