// 全域
*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  font-size: 16px;
  line-height: 1.5;
  color: #000;
  font-family: "Noto Sans TC", "Roboto", sans-serif;
}
a {
  color: #fff;
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
button {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background: $bg-red;
  color: #fff;
}
//font-size
.fz-14 {
  font-size: 14px;
}
.fz-36 {
  font-size: 36px;
}
// color
.bg-red {
  background: $bg-red;
}
// layout
.container {
  max-width: 1320px;
  padding-left: 12px;
  padding-right: 12px;
  margin: 0 auto;
  //991.98px以下
  @include pad {
    max-width: 1063px;
    padding-left: 36px;
    padding-right: 36px;
  }
  //767.98px以下
  @include mobile {
    max-width: 791px;
    padding-left: 14px;
    padding-right: 14px;
  }
}
.d-flex {
  display: flex;
}
.gap {
  gap: 24px;
}

.pd-80 {
  padding: 80px 0;
}
.pt-16 {
  padding-top: 16px;
}
