// menu
.blog-menu {
  @include mobile {
    display: none;
  }
  span {
    display: block;
    color: #fff;
    font-size: 29px;
    cursor: pointer;
  }
  &-list {
    color: #fff;
    gap: 48px;
    a {
      display: block;
      padding: 13px 0;

      &:hover {
        opacity: 80%;
      }
    }
  }
}
.blogpage-menu {
  span {
    display: block;
    color: #fff;
    font-size: 29px;
    cursor: pointer;
    @include mobile {
      display: none;
    }
  }
}

// blog
.blog {
  li {
    @include pad {
      flex-direction: column;
    }
  }
  &-content {
    flex-direction: column;
    justify-content: space-between;
    @include pad {
      display: none;
    }
    span {
      align-self: flex-end;
    }
  }
}
