// bread
.breadcrumb {
  display: flex;
  li + li {
    text-indent: 6px;
  }
}

.b {
  &-main {
    gap: 24px;
  }
  // 內文
  &-txt {
    p {
      color: $light-gray;
    }
  }
  &-share {
    p {
      font-weight: bold;
      margin-right: 16px;
    }
    img {
      width: 24px;
      height: 24px;
      margin-right: 16px;
    }

    @include mobile {
      display: none;
    }
  }
  &-pages {
    border-top: 1px solid #707070;
    padding-top: 16px;
    @include mobile {
      display: none;
    }
  }
}

// Tags
.tags {
  h6 {
    gap: 12px;
  }
  @include mobile {
    display: none;
  }
  &-icon {
    font-size: 38px;
  }
  &-list {
    li {
      margin-bottom: 4px;
      a {
        margin-right: 24px;
      }
    }
  }
}
