<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- favicon -->
    <link rel="icon" type="image/x-icon" href="../assets/images/favicon.png" />
    <title>Glasses Website</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <!-- blogMenu -->
    <div class="bg-darkRed blogpage-menu">
      <div class="container d-flex f-jcsb f-aic fz-20">
        <ul class="blog-menu-list d-flex">
          <li><a href="#">最新消息</a></li>
          <li><a href="#">特別企劃</a></li>
          <li><a href="#">新品上市</a></li>
          <li><a href="#">鏡框小知識</a></li>
        </ul>

        <span class="material-icons-outlined"> search </span>
      </div>
    </div>
    <!-- main -->
    <div class="container mb-80 mb-sm-64">
      <nav aria-label="breadcrumb ">
        <ol class="breadcrumb mt-24 mb-8 mt-md-8 mt-sm-16">
          <li class="breadcrumb-item"><a href="./index.html">首頁 /</a></li>
          <li class="breadcrumb-item"><a href="./blog.html">部落格 /</a></li>
          <li class="breadcrumb-item"><a href="./blog.html">特別企劃 /</a></li>
          <li class="breadcrumb-item active c-primary" aria-current="page">
            情人特別企劃
          </li>
        </ol>
      </nav>
      <div class="b-tags c-primary bold fz-24 fz-sm-16 mb-8">
        <span><a href="#">#special</a></span>
        <span><a href="#">#event</a></span>
      </div>
      <artical class="b-main d-flex f-jcfs">
        <div class="b-artical col-8 col-md-9 col-sm-12">
          <h4 class="fz-48">情人特別企劃</h4>
          <h5 class="fz-24 mb-16 mb-md-24 mb-sm-16">
            2020 Valentine's Special
          </h5>
          <div class="b-txt">
            <img
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/blogpage-1.png?raw=true"
              alt=""
              class="mb-8 mb-md-16 mb-sm-8"
            />
            <p class="mb-40 mb-md-24 mb-sm-16">
              一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。
              本次拍攝的鏡框款式與 NEEDS CLASSIC
              聯名設計款，偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！
            </p>
            <img
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/blogpage-2.png?raw=true"
              alt=""
              class="mb-8 mb-md-16 mb-sm-8"
            />
            <p class="mb-40 mb-md-24 mb-sm-16">
              一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。
              本次拍攝的鏡框款式與 NEEDS CLASSIC
              聯名設計款，偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！
            </p>
            <img
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/blogpage-3.png?raw=true"
              alt=""
              class="mb-8 mb-md-16 mb-sm-8"
            />
            <p class="mb-40 mb-md-24 mb-sm-16">
              一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。
              本次拍攝的鏡框款式與 NEEDS CLASSIC
              聯名設計款，偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！
            </p>
            <img
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/blogpage-4.png?raw=true"
              alt=""
              class="mb-8 mb-md-16 mb-sm-8"
            />
            <p class="mb-40 mb-md-24 mb-sm-16">
              2/14(五)-2/20(日)<br />
              至本店單筆消費滿2980元, 就送情人節限定眼鏡盒1個<br />
              期間優惠還有~~持他牌鏡框更換鏡片<br />
              薄型非球面鏡片折300元<br />
              濾藍光鏡片折500元<br />
              快快帶上另一半<br />
              讓彼此每一次睜開眼，都被愛的視線包圍!
            </p>
          </div>
        </div>
        <div class="tags col-3 c-primary bold">
          <h6 class="fz-32 fz-md-16 d-flex f-aic">
            <span class="tags-icon material-icons-outlined"> label </span>
            <p>TAGS</p>
          </h6>
          <ul class="tags-list d-flex fxw-w">
            <li class="fz-24 fz-md-16 bold mb-4 mr-24 mb-md-0 mb-md-16">
              <a href="#">#special</a>
            </li>
            <li class="fz-24 fz-md-16 bold mb-4 mr-24 mb-md-0 mb-md-16">
              <a href="#">#sale</a>
            </li>
            <li class="fz-24 fz-md-16 bold mb-4 mr-24 mb-md-0 mb-md-16">
              <a href="#">#new_item</a>
            </li>
            <li class="fz-24 fz-md-16 bold mb-4 mr-24 mb-md-0 mb-md-16">
              <a href="#">#interview</a>
            </li>
            <li class="fz-24 fz-md-16 bold mb-4 mr-24 mb-md-0 mb-md-16">
              <a href="#">#trivia</a>
            </li>
            <li class="fz-24 fz-md-16 bold mb-4 mr-24 mb-md-0 mb-md-16">
              <a href="#">#news</a>
            </li>
            <li class="fz-24 fz-md-16 bold mb-4 mr-24 mb-md-0 mb-md-16">
              <a href="#">#event</a>
            </li>
          </ul>
        </div>
      </artical>
      <div class="b-share d-flex f-aic">
        <p>Share</p>
        <a href="#"
          ><img
            src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/logo-facebook.png?raw=true"
            alt="fb"
        /></a>
        <a href="#"
          ><img
            src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/logo-instagram.png?raw=true"
            alt="ig"
        /></a>
      </div>
      <div class="b-pages d-flex f-jcsb mt-24 col-8 col-md-12">
        <a href="#" class="pre-page d-flex f-aic">
          <span class="material-icons-outlined"> arrow_back </span>
          <span>上一篇：街頭潮人訪問 1</span>
        </a>

        <a href="#" class="next-page d-flex f-aic">
          <span>下一篇：街頭潮人訪問 2</span>
          <span class="material-icons-outlined"> arrow_forward </span>
        </a>
      </div>
    </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
