<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Glassed Website</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <h1>000</h1>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet quam
      reprehenderit aliquam qui earum, dolorum nemo? Nisi hic nulla doloribus
      quasi officia, neque nesciunt dignissimos, inventore atque qui laboriosam
      perspiciatis animi? Doloremque, non odit maiores reiciendis hic tempora
      quia impedit laudantium quod tenetur voluptatum magnam distinctio totam,
      ullam itaque porro dolore, corporis recusandae? Temporibus quis autem, hic
      nulla velit officiis fugiat labore quam adipisci numquam debitis id,
      soluta amet facere mollitia cum ut sed repellendus consequatur ipsa eos
      minima distinctio. Impedit, aliquam ipsa. Debitis, nulla? Id velit esse
      adipisci ex ducimus possimus deleniti tempore cumque? Excepturi nisi
      pariatur ex! Nemo reprehenderit ratione sed nisi, blanditiis rem
      voluptatem commodi obcaecati delectus esse, sapiente qui officia assumenda
      voluptatum alias saepe ad, ipsa sint odit repellat atque. Vel sint tempora
      cumque, mollitia asperiores soluta laudantium praesentium fugiat sed
      impedit ipsum, commodi aspernatur? Labore iure expedita beatae inventore
      incidunt quae a dolores omnis, esse hic. Tenetur, eaque fugit consectetur
      ipsam perferendis deserunt cum nobis eos beatae reprehenderit consequuntur
      fuga voluptatibus odio. Doloribus est eaque, deserunt, eum cupiditate
      debitis dolores quo adipisci similique odio doloremque perferendis officia
      ipsum tempore id fuga voluptas iure ad labore. Facilis, adipisci fuga?
      Velit, quas illo sint cupiditate incidunt ducimus!
    </p>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
