<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Glasses Website</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <!-- menu -->
    <!-- 筆記：1. 將container包在外層，內層區塊用margin負值消除pd;2. 如果container與區塊同層，可用padding:0消除container的padding。但因banner照片為滿版，不能將container包在外層，所以只能使用方法2
     -->
    <header>
      <ul class="container header-menu d-flex">
        <li aria-current="page" class="active">
          <a href="./optical.html" class="bottom-line">OPTICAL</a>
        </li>
        <li class="not-active"><a href="./sunglasses.html">SUNGLASSES</a></li>
        <li class="not-active"><a href="#">FUNCTIONAL</a></li>
      </ul>
      <!-- banner -->
      <div class="optical-banner-image d-flex">
        <div class="optical-banner-image-left"></div>
        <div class="optical-banner-image-right"></div>
      </div>
    </header>
    <!-- product -->
    <main class="container py-80 py-sm-40">
      <h4 class="fz-42 fz-sm-24 ta-c">Celluloid Combi</h4>
      <h4 class="fz-32 fz-sm-24 ta-c mb-32 mb-sm-24">賽璐珞鈦金屬混合鏡框</h4>
      <!-- 產品列表 -->
      <ul class="product-card d-flex fxw-w mx--12">
        <li class="col-3 col-md-6 col-sm-12 px-12 mb-80 mb-md-40 mb-sm-24">
          <img
            class="product-pic"
            src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-1.png?raw=true"
            alt="glasses"
          />
          <div class="product-content">
            <div class="product-title d-flex f-jcsb">
              <p class="fz-24">BJ41600S</p>
              <span class="fz-24 c-primary">NTD3,490</span>
            </div>

            <div class="color-option d-flex">
              <span class="grayBox"></span>
              <span class="orangeBox"></span>
            </div>
          </div>
        </li>
        <li class="col-3 col-md-6 col-sm-12 px-12 mb-80 mb-md-40 mb-sm-24">
          <img
            class="product-pic"
            src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-2.png?raw=true"
            alt="glasses"
          />
          <div class="product-content">
            <div class="product-title d-flex f-jcsb">
              <p class="fz-24">BJ41600S</p>
              <span class="fz-24 c-primary">NTD3,490</span>
            </div>

            <div class="color-option d-flex">
              <span class="grayBox"></span>
              <span class="orangeBox"></span>
            </div>
          </div>
        </li>
        <li class="col-3 col-md-6 col-sm-12 px-12 mb-80 mb-md-40 mb-sm-24">
          <img
            class="product-pic"
            src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-3.png?raw=true"
            alt="glasses"
          />
          <div class="product-content">
            <div class="product-title d-flex f-jcsb">
              <p class="fz-24">BJ41600S</p>
              <span class="fz-24 c-primary">NTD3,490</span>
            </div>

            <div class="color-option d-flex">
              <span class="grayBox"></span>
              <span class="orangeBox"></span>
            </div>
          </div>
        </li>
        <li class="col-3 col-md-6 col-sm-12 px-12 mb-80 mb-md-40 mb-sm-24">
          <img
            class="product-pic"
            src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-1.png?raw=true"
            alt="glasses"
          />
          <div class="product-content">
            <div class="product-title d-flex f-jcsb">
              <p class="fz-24">BJ41600S</p>
              <span class="fz-24 c-primary">NTD3,490</span>
            </div>

            <div class="color-option d-flex">
              <span class="grayBox"></span>
              <span class="orangeBox"></span>
            </div>
          </div>
        </li>
        <li class="col-3 col-md-6 col-sm-12 px-12 mb-80 mb-md-40 mb-sm-24">
          <img
            class="product-pic"
            src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-4.png?raw=true"
            alt="glasses"
          />
          <div class="product-content">
            <div class="product-title d-flex f-jcsb">
              <p class="fz-24">BJ41600S</p>
              <span class="fz-24 c-primary">NTD3,490</span>
            </div>

            <div class="color-option d-flex">
              <span class="grayBox"></span>
              <span class="orangeBox"></span>
            </div>
          </div>
        </li>
        <li class="col-3 col-md-6 col-sm-12 px-12 mb-80 mb-md-40 mb-sm-24">
          <img
            class="product-pic"
            src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-5.png?raw=true"
            alt="glasses"
          />
          <div class="product-content">
            <div class="product-title d-flex f-jcsb">
              <p class="fz-24">BJ41600S</p>
              <span class="fz-24 c-primary">NTD3,490</span>
            </div>

            <div class="color-option d-flex">
              <span class="grayBox"></span>
              <span class="orangeBox"></span>
            </div>
          </div>
        </li>
        <li class="col-3 col-md-6 col-sm-12 px-12 mb-80 mb-md-40 mb-sm-24">
          <img
            class="product-pic"
            src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-6.png?raw=true"
            alt="glasses"
          />
          <div class="product-content">
            <div class="product-title d-flex f-jcsb">
              <p class="fz-24">BJ41600S</p>
              <span class="fz-24 c-primary">NTD3,490</span>
            </div>

            <div class="color-option d-flex">
              <span class="grayBox"></span>
              <span class="orangeBox"></span>
            </div>
          </div>
        </li>
        <li class="col-3 col-md-6 col-sm-12 px-12 mb-80 mb-md-40 mb-sm-24">
          <img
            class="product-pic"
            src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-1.png?raw=true"
            alt="glasses"
          />
          <div class="product-content">
            <div class="product-title d-flex f-jcsb">
              <p class="fz-24">BJ41600S</p>
              <span class="fz-24 c-primary">NTD3,490</span>
            </div>

            <div class="color-option d-flex">
              <span class="grayBox"></span>
              <span class="orangeBox"></span>
            </div>
          </div>
        </li>
        <li class="col-3 col-md-6 col-sm-12 px-12 mb-80 mb-md-40 mb-sm-24">
          <img
            class="product-pic"
            src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-2.png?raw=true"
            alt="glasses"
          />
          <div class="product-content">
            <div class="product-title d-flex f-jcsb">
              <p class="fz-24">BJ41600S</p>
              <span class="fz-24 c-primary">NTD3,490</span>
            </div>

            <div class="color-option d-flex">
              <span class="grayBox"></span>
              <span class="orangeBox"></span>
            </div>
          </div>
        </li>
        <li class="col-3 col-md-6 col-sm-12 px-12 mb-80 mb-md-40 mb-sm-24">
          <img
            class="product-pic"
            src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-3.png?raw=true"
            alt="glasses"
          />
          <div class="product-content">
            <div class="product-title d-flex f-jcsb">
              <p class="fz-24">BJ41600S</p>
              <span class="fz-24 c-primary">NTD3,490</span>
            </div>

            <div class="color-option d-flex">
              <span class="grayBox"></span>
              <span class="orangeBox"></span>
            </div>
          </div>
        </li>
        <li class="col-3 col-md-6 col-sm-12 px-12 mb-80 mb-md-40 mb-sm-24">
          <img
            class="product-pic"
            src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-4.png?raw=true"
            alt="glasses"
          />
          <div class="product-content">
            <div class="product-title d-flex f-jcsb">
              <p class="fz-24">BJ41600S</p>
              <span class="fz-24 c-primary">NTD3,490</span>
            </div>

            <div class="color-option d-flex">
              <span class="grayBox"></span>
              <span class="orangeBox"></span>
            </div>
          </div>
        </li>
        <li class="col-3 col-md-6 col-sm-12 px-12 mb-80 mb-md-40 mb-sm-24">
          <img
            class="product-pic"
            src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-5.png?raw=true"
            alt="glasses"
          />
          <div class="product-content">
            <div class="product-title d-flex f-jcsb">
              <p class="fz-24">BJ41600S</p>
              <span class="fz-24 c-primary">NTD3,490</span>
            </div>

            <div class="color-option d-flex">
              <span class="grayBox"></span>
              <span class="orangeBox"></span>
            </div>
          </div>
        </li>
      </ul>
      <!-- 上下頁 -->
      <nav aria-label="Page navigation" class="d-flex f-jcc">
        <div class="mt-80 mt-sm-64 mb-sm-24">
          <ul class="pagination d-flex">
            <li class="page-item-up">
              <a class="page-link" href="#">上一頁</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item active">
              <a class="page-link" href="#" aria-current="page">2</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">5</a></li>
            <li class="page-item-down">
              <a class="page-link" href="#">下一頁</a>
            </li>
          </ul>
        </div>
      </nav>
    </main>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
