<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Glasses Website</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <div class="container py-80 pt-16">
      <h3 class="store-locate fz-48 bold mb-33 mb-sm-31">門市據點</h3>
      <!-- 下拉選單store-chosen -->
      <div
        class="store-chosen d-flex f-aic col-4 col-md-7 col-sm-12 mb-41 mb-sm-31"
      >
        <p class="fz-24 fz-sm-16 mr-16">選擇門市</p>
        <!-- 最初呈現文字 button dropdrown-btn-->
        <div class="dropdown flex-grow">
          <div class="dropdown-btn d-flex f-aic f-jcsb">
            <span class="dropdown-btnText">台北市</span>
            <span class="material-icons-outlined"> arrow_drop_down </span>
          </div>

          <!-- 下拉選單選項 dropdown-menu-->
          <ul class="dropdown-menu">
            <li class="down-taipei">
              <a href="#" class="down-taipei">台北市</a>
            </li>
            <li class="down-taichung"><a href="#">台中市</a></li>
            <li class="down-kaoshung"><a href="#">高雄市</a></li>
          </ul>
        </div>
      </div>
      <!-- 門市資訊 -->
      <ul class="store-card c-darkGray d-flex fxw-w mx--12">
        <li class="col-4 col-md-6 col-sm-12 px-12 mb-48 mb-md-24">
          <div class="store-pic">
            <img
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/store-1.png?raw=true"
              alt="taipei-store"
            />
          </div>
          <div class="store-card-content">
            <h4 class="store-name fz-24">台北中山旗艦店</h4>
            <ul class="store-txt fz-20">
              <li class="d-flex f-aifs">
                <span class="material-icons-outlined mr-11"> call </span>
                <p>電話：(02)000-1234</p>
              </li>
              <li class="d-flex f-aifs">
                <span class="material-icons-outlined mr-11"> schedule </span>
                <p>營業時間：10:00-21:00</p>
              </li>
              <li class="d-flex f-aifs">
                <span class="material-icons-outlined mr-11"> place </span>
                <p>地址：台北市中山區南京東25巷2-1號</p>
              </li>
            </ul>
            <button class="store-btn">
              <a href="./storeTipei.html">詳細資訊</a>
            </button>
          </div>
        </li>
        <li class="col-4 col-md-6 col-sm-12 px-12 mb-48 mb-md-24">
          <div class="store-pic">
            <img
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/store-2.png?raw=true"
              alt="taipei-store"
            />
          </div>
          <div class="store-card-content">
            <h4 class="store-name fz-24">台北綠園店</h4>
            <ul class="store-txt fz-20">
              <li class="d-flex f-aifs">
                <span class="material-icons-outlined mr-11"> call </span>
                <p>電話：(02)000-2345</p>
              </li>
              <li class="d-flex f-aifs">
                <span class="material-icons-outlined mr-11"> schedule </span>
                <p>營業時間：10:00-21:00</p>
              </li>
              <li class="d-flex f-aifs">
                <span class="material-icons-outlined mr-11"> place </span>
                <p>地址：台北市中正區復興南路 132-1 號</p>
              </li>
            </ul>
            <button class="store-btn">
              <a href="./storeTipei.html">詳細資訊</a>
            </button>
          </div>
        </li>
        <li class="col-4 col-md-6 col-sm-12 px-12 mb-48 mb-md-24">
          <div class="store-pic">
            <img
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/store-3.png?raw=true"
              alt="taipei-store"
            />
          </div>
          <div class="store-card-content">
            <h4 class="store-name fz-24">台中清水旗艦店</h4>
            <ul class="store-txt fz-20">
              <li class="d-flex f-aifs">
                <span class="material-icons-outlined mr-11"> call </span>
                <p>電話：(02)000-1234</p>
              </li>
              <li class="d-flex f-aifs">
                <span class="material-icons-outlined mr-11"> schedule </span>
                <p>營業時間：10:00-21:00</p>
              </li>
              <li class="d-flex f-aifs">
                <span class="material-icons-outlined mr-11"> place </span>
                <p>地址：台中市清水區經南一路 23 號 8 樓</p>
              </li>
            </ul>
            <button class="store-btn">
              <a href="./storeTipei.html">詳細資訊</a>
            </button>
          </div>
        </li>
        <li class="col-4 col-md-6 col-sm-12 px-12 mb-48 mb-md-24">
          <div class="store-pic">
            <img
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/store-4.png?raw=true"
              alt="taipei-store"
            />
          </div>
          <div class="store-card-content">
            <h4 class="store-name fz-24">高雄中正形象店</h4>
            <ul class="store-txt fz-20">
              <li class="d-flex f-aifs">
                <span class="material-icons-outlined mr-11"> call </span>
                <p>電話：(02)000-1234</p>
              </li>
              <li class="d-flex f-aifs">
                <span class="material-icons-outlined mr-11"> schedule </span>
                <p>營業時間：10:00-21:00</p>
              </li>
              <li class="d-flex f-aifs">
                <span class="material-icons-outlined mr-11"> place </span>
                <p>地址：高雄市苓雅區中正路 38 號 12 樓</p>
              </li>
            </ul>
            <button class="store-btn">
              <a href="./storeTipei.html">詳細資訊</a>
            </button>
          </div>
        </li>
        <li class="col-4 col-md-6 col-sm-12 px-12 mb-48 mb-md-24">
          <div class="store-pic">
            <img
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/store-5.png?raw=true"
              alt="taipei-store"
            />
          </div>
          <div class="store-card-content">
            <h4 class="store-name fz-24">高雄夢時代店</h4>
            <ul class="store-txt fz-20">
              <li class="d-flex f-aifs">
                <span class="material-icons-outlined mr-11"> call </span>
                <p>電話：(02)000-1234</p>
              </li>
              <li class="d-flex f-aifs">
                <span class="material-icons-outlined mr-11"> schedule </span>
                <p>營業時間：10:00-21:00</p>
              </li>
              <li class="d-flex f-aifs">
                <span class="material-icons-outlined mr-11"> place </span>
                <p>地址：高雄市前鎮區中華一路 63 號 6 樓</p>
              </li>
            </ul>
            <button class="store-btn">
              <a href="./storeTipei.html">詳細資訊</a>
            </button>
          </div>
        </li>
      </ul>
    </div>
    <%- include('./layout/footer'); -%>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script type="module" src="../main.js"></script>
  </body>
</html>
